#map, #map2 {
    height: 600px;
    width: 500px;
}

.photos-yelp img-thumbnail rounded float-left {
    height: auto;
    width: 100%;
}

#background {
    background: url(/static/img/background.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}