{% extends 'base.html' %}

{% block body%}
<div class="container-fluid">
<div class="row">
<div class='col-md-4'>
<h4>About me</h4>
<p>Ilkay studied Molecular Biology in her home country, Turkey and did her PhD on Molecular Microbiology in the UK. While doing her postdoc at Stanford University, she realized that coding is becoming more and more popular and is a big part of the future, so she wanted to be part of the technology world. During her studies, Ilkay worked with great teams of scientists while solving the mysteries of cell division. She loves figuring out relationships between systems and solving problems that come between her and her results. She thinks computer programs are puzzles waiting to be solved. When not coding, you'll find Ilkay playing with her daughter or knitting and enjoying a good cup of coffee.
</p>
<a href="https://github.com/ilkaynazli">GitHub</a><br>
<a href="https://www.linkedin.com/in/ilkay-celik-gulsoy">LinkedIn</a>
</div>
<div class='col-md-4 offset-md-4'>
<h4>About this site</h4>
<p>
Road Trips with Kids is an app that helps parents to plan their journey by showing kid-friendly places along the route they have selected.  After selecting their route, parents can select several food and play options to display them on map. Furthermore, parents can examine each business page and look at pictures to decide if they like the place. They can later add this place as a stopover for that specific route. In the user page, parents can see their last saved route, now with stopovers.    
</p>
</div>
</div>
</div>
{% endblock %}