<!DOCTYPE html>
<html>
    <head>
        {% block title %}Roadtrips With Kids{% endblock %}
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="/static/css/my_css.css">
    </head>

    <body>
        <div id='login-out' align="right">          
            {% if session.get('user_id') %}
                <button type='button'><a href="/log-out">Log out</a></button>
                <button type='button'><a href="/users/{{session.get('user_id')}}">My page</a></button>
            {% else %}
                <form action="/login">
                    Username: <input type="text" name="username"><br>
                    Password: <input type="password" name="password"><br><br>
                    <input type="submit" value="Login">
                </form>
                <button type="button"><a href="/signup">Sign up</a></button>
            {% endif %}
        </div>
        <ul>
            {% for message in get_flashed_messages() %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>

        {% block body %}Body content goes here{% endblock %}
    </body>
</html>