{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row justify-content-end">
    Would you like to add this as a stopover? <br>
</div>
    <div class="row justify-content-end">
        <button class="btn btn-info" id="stopover-add" data-stopover="add?{{business.name}}">Add</button>
        <button class="btn btn-info" id="stopover-remove" data-stopover="remove?{{business.name}}" style="display:none">Remove</button>    
</div>
<div class="row justify-content-end">
        <p>*Please login to save any place<br> as a stopover in your journey*</p>
    </div></div>

<div id='my-business' data-business="{{business2}}"></div>
    <h1>Welcome to the {{business.name}} page</h1>
    <div>
        {% if business['formatted_address'] %}
            Address: {{business['formatted_address']}}<br>
        {% else %}
            <div id='address'></div>
        {% endif %}
        {% if business['formatted_phone_number'] %}
            Phone: {{business['formatted_phone_number']}}<br>
        {% else %}
            <div id='phone'></div>
        {% endif %}
        <div id='website'></div>
        <a href="{{business.yelp_url}}">Yelp</a>
        <div id='url-id'></div>
        <br><br>
    </div>
 <div id="photos">
<!--     <div class="row"> -->
        <div class='row photos-google'></div>
    <!-- </div> -->
        <div class="col">
        {% for photo in business.photo %}
            <img src="{{photo}}" style="height:200px; width:auto" class='photos-yelp img-thumbnail rounded float-left'>
        {% endfor %}     
    </div></div></div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $('#stopover-add').on('click', function(evt) {
        evt.preventDefault();
        let formInput = {'stopover': $(evt.target).data('stopover')};
        $.post("/save-stopovers", formInput, function() {
            $('#stopover-add').css('display', 'none');
            $('#stopover-remove').css('display', 'block');
        });
    });
    $('#stopover-remove').on('click', function(evt) {
        evt.preventDefault();
        let formInput = {'stopover': $(evt.target).data('stopover')};
        $.post("/save-stopovers", formInput, function() {
            $('#stopover-remove').css('display', 'none');
            $('#stopover-add').css('display', 'block');
        });
    });
</script>
<script>
    const cachedId = localStorage.getItem('cachedId');
    function placesCallback() {
        let myPhoto;
        const business = $('#my-business').data()['business'];
        const name = business['name'];
        const business_location = new google.maps.LatLng(business['location']);
        let service = new google.maps.places.PlacesService($('#my-business').get(0));
        const fields_for_id = ['place_id', 'name'];
        const request_for_id = {query: name,
                                fields: fields_for_id,
                                locationBias: business_location};

        service.findPlaceFromQuery(request_for_id, handlePlacesResponse);
        
        function handlePlacesResponse(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                let place_id = results[0]['place_id'];

                const fields_for_details = []; 

                for (let key in business) {
                    if(business[key].length == 0) {
                        fields_for_details.push(key);
                    }
                } 
                fields_for_details.push('photo', 'review', 'url', 'website');

                const request_for_details = {placeId: place_id,
                                            fields: fields_for_details
                                            };

                service.getDetails(request_for_details, getPlacesDetails);

                function getPlacesDetails(result, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        myResult = result;
                        
                        $('#url-id').html('<a href=' + result.url +'>Google Maps</a>');
                        if (result['formatted_address']) {
                            $('#address').html("Address: " + result['formatted_address']);
                        }
                        if (result['formatted_phone_number']) {
                            $('#phone').html("Phone: " + result['formatted_phone_number']);
                        } else {
                            $('#phone').html("Phone number does not exist");
                        }
                        if (result.website != undefined) {
                            $('#website').html('<a href="' + result.website + '">' + name + '</a>');
                        }
                        const googlePhotos = [];
                        if (result.photos != undefined) {
                            for (let i=0; i<result.photos.length; i++) {
                                let myPhoto = result.photos[i].getUrl({'maxHeight': 200});
                                if (i == 3 || i == 7){
                                    imgSrc = '<div class="col"><img src='+myPhoto+' class="img-thumbnail" alt="responsive"></div><div class="w-100"></div>';
                                } else {
                                    imgSrc = '<div class="col"><img src='+myPhoto+' class="img-thumbnail" alt="responsive"></div>';
                                }
                                googlePhotos.push(imgSrc);
                            }
                            $('.photos-google').html(googlePhotos.join(''));
                        } else {
                            $('#photos-google').html('Unfortunately, this place does not have any pictures!');
                        }

                    }
                }
            }
        }

}
</script>

<script 
  src="https://maps.googleapis.com/maps/api/js?key={{YOUR_API_KEY}}&libraries=places&callback=placesCallback" async defer>
</script>
{% endblock %}