{% extends 'base.html' %}

{% block body %}
<br>
<div class="col align-self-start">
 <div class="container-fluid">        
            <div class="text-center">I know how hard to take long road trips with kids.</div>
                    <div class="text-center">You need to entertain them
                and find good stops along the route so they can run around and get tired.</div>
            <div class="text-center">Here is your answer! Road Trips with Kids! </div>
        </div>
    </div>
<br><br><br>
<form action="/show-map" id='route-form'>

<div class="form-row">
    <div class="form-group col-md-3"></div>
    <div class="form-group col-auto">
        <label for="colFormLabelLg" class="col-sm- col-form-label col-form-label-lg">From: </label>
            <input class="form-control form-control-lg" type="text" name="start_location"
            placeholder="Start address" required>
    </div>
    <div class="form-group col-auto">
        <label for="colFormLabelLg" class="col-sm- col-form-label col-form-label-lg">To: </label>
            <input class="form-control form-control-lg" type="text" name="end_location" 
            placeholder="Final address" required>
    </div>
    <div class="form-group col-md-1"></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3"></div>
        <input type="submit" class="btn btn-info col-md-1">          
    </div>
        
</form>
</div>

{% endblock %}