{% extends 'base.html' %}

{% block body %}

<h1>Hello there!</h1>
    <form action="/show-map" id='route-form'>
        From: <input type="text" name="start_location" required><br>
        To: <input type="text" name="end_location" required><br>
        <h3>Where do you want to stop?</h3>
        <h4>Food?</h4>
            <input type="checkbox" name="food1" value="breakfast_brunch">Breakfast/Brunch
            <input type="checkbox" name="food2" value="bbq">Barbeque
            <input type="checkbox" name="food3" value="burgers">Burgers<br>
            <input type="checkbox" name="food4" value="pizza">Pizza
            <input type="checkbox" name="food5" value="sandwiches">Sandwiches
            <input type="checkbox" name="food6" value="icecream">Icecream
        <h4>Play?</h4>
            <input type="checkbox" name="play1" value="playground">Playground
            <input type="checkbox" name="play2" value="indoor_playcenter">Indoor Playcenter
            <input type="checkbox" name="play3" value="carousels">Carousels<br>
            <input type="checkbox" name="play4" value="farms">Farms
            <input type="checkbox" name="play5" value="zoos">Zoo
            <input type="checkbox" name="play6" value="aquariums">Aquariums
        <input type="submit">
    </form>
{% endblock %}