{% extends 'base.html' %}

{% block body %}

<h1>Hello there!</h1>
<form action="/show-map" id='route-form'>

<div class="form-row" >
    <div class="form-group col-md-3"></div>
    <div class="form-group col-auto">
        <label for="colFormLabelLg" class="col-sm- col-form-label col-form-label-lg">From: 
            <input class="form-control form-control-lg" type="text" name="start_location" 
            placeholder="Start address ex/Sunnyvale, CA" required></label>
    </div>
    <div class="form-group col-auto">
        <label for="colFormLabelLg" class="col-sm- col-form-label col-form-label-lg">To: 
            <input class="form-control form-control-lg" type="text" name="end_location" 
            placeholder="Final address ex/Los Angeles, CA" required></label>
    </div>
    <div class="form-group col-md-1"></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3"></div>
        <input type="submit"  class="btn btn-info col-md-1"> 
         
    </div>
        
</form>
    <div>
        I know how hard to take long road trips with kids. <br>
        You need to entertain them and find good stops along the route so they can run around and get tired.<br>
        Here is your answer! Road Trips with Kids! <br>
    </div>
{% endblock %}