{% extends 'base.html' %}

{% block body %}
{% if username %}
    <div>Your username is {{username}}</div><br><br>
{% else %}
    <div>The user does not exists!<a href='/signup'>Please signup here</a></div>
{% endif %}
<form action="/new-password", method="POST">
    Password*: <input type="password" name="password" required><br>
    Please use at least one lowercase, one uppercase letter, one number, 
    and one character (!@#$%^&*(){}[]/?)<br>
    Re-enter Password*: <input type="password" name="password2" required><br>
    <input type="submit"><br><br>
    *These fields are required!
</form>

{% if error %}
    {{ message }}
{% endif %}

{% endblock %}