{% extends 'base.html' %}
{% block title %}Maps{% endblock %}
{% block head %}

{% endblock %}

{% block body %}

<div id="map" data-start='{{start}}' data-end="{{end}}"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    function myCallBack(){
        const route = $("#map").data()
        const start = route['start'];
        const end = route['end'];

        function createMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 37.38 , lng: -121.94 },
                    zoom: 10
                });      
            const directionsService = new google.maps.DirectionsService;
            const directionsDisplay = new google.maps.DirectionsRenderer;
            directionsDisplay.setMap(map);
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        };

        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            directionsService.route({
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            }, function (response, status){
                if (status == 'OK') {
                    directionsDisplay.setDirections(response);
                    console.log(response);
                    const myRoute = response;
                    const steps = myRoute.routes[0].legs[0].steps;
                    const stepMap = {}; 
                    for (let i=0; steps.length; i++){
                        stepMap[i] = {'distance': parseFloat(steps[i].distance.text),
                                    'end_location_lat': parseFloat(steps[i].end_location.lat()),
                                    'end_location_lng': parseFloat(steps[i].end_location.lng())};  
                    }
                    const myJSON = stringify(stepMap);
                    $.get('/get-route', myJSON);   
                } else {
                    alert('Directions request failed due to ' + status);
                }
            });
        };
        createMap();
    }
</script>

<script 
  src="https://maps.googleapis.com/maps/api/js?key={{YOUR_API_KEY}}&callback=myCallBack" async defer>
</script>

{% endblock %}