{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h5 id="distance-info"></h5>
            <div id="map" data-start='{{start}}' data-end="{{end}}">
            </div>
        </div>

        <div class="col-md-6 col-md-offset-6 bg-light">
            <br>
            <form action="/show-markers.json" id='categories-form'>
                <h5>How far away from the main route would you like to travel?</h5>
                <div class="form-row" >
                    <div class="custom-range">
                        <label class="custom-range col-md-2">5</label>
                            <input type="range" class="custom-range col-md-6" name="points" min="5000" max="20000">
                        <label class="custom-range col-md-2">20 (km)</label>
                    </div>
                </div>
                <br>
                <div class="form-check">
                    <h5>Where do you want to stop?</h5>
            <div class="row">
                <div class="col">
                    <h6>Food?</h6>
                    <div class="container-fluid">                       
                            <div class="col-md-3">
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="breakfast_brunch"><label>Breakfast/Brunch</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="bbq"><label>Barbeque</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="burgers"><label>Burgers</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="pizza"><label>Pizza</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="sandwiches"><label>Sandwiches</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="icecream"><label>Icecream</label><br>
                            </div>
                        </div></div>
                <div class="col">
                    <h6>Play?</h6>
                    <div class="container-fluid">
                            <div class="col-md-3 col-md-offset-6"">
                        <input class="form-check-input"type="checkbox" 
                            name="categories" value="playgrounds"><label>Playground</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="indoor_playcenter"><label>Indoor Playcenter</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="carousels"><label>Carousels</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="farms"><label>Farms</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="zoos"><label>Zoo</label><br>
                        <input class="form-check-input" type="checkbox" 
                            name="categories" value="aquariums"><label>Aquariums</label><br><br>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row justify-content-center">
                <input type="submit" class="btn">
            </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='/static/js/map.js'></script>
<!-- <script>
    "use strict"

    function showToolTip(evt) {
        let tooltipText = $('#stopover-add').data('tooltip');
        console.log(tooltipText);
        $('#my-tooltip').append('<div id="tooltip">' + tooltipText + '</div>');
    }

    function removeToolTip(evt) {
        $('#tooltip').remove();
    }

    $('#stopover-add').on('mouseover', showToolTip);
    $('#stopover-add').on('mouseout', removeToolTip);

</script> -->
<script 
  src="https://maps.googleapis.com/maps/api/js?key={{YOUR_API_KEY}}&callback=myCallBack" async defer>
</script>
{% endblock %}