{% extends 'base.html' %}
{% block title %}Maps{% endblock %}
{% block head %}

{% endblock %}

{% block body %}

<div id="map" data-start='{{start}}' data-end="{{end}}"></div>

<form action="/show-markers.json" id='categories-form'>
    <h3>How far away from the main route would you like to travel?</h3>
    5<input type="range" name="points" min="5000" max="20000">20 (km)
    <h3>Where do you want to stop?</h3>
    <h4>Food?</h4>
        <input type="checkbox" name="categories" value="breakfast_brunch">Breakfast/Brunch<br>
        <input type="checkbox" name="categories" value="bbq">Barbeque<br>
        <input type="checkbox" name="categories" value="burgers">Burgers<br>
        <input type="checkbox" name="categories" value="pizza">Pizza<br>
        <input type="checkbox" name="categories" value="sandwiches">Sandwiches<br>
        <input type="checkbox" name="categories" value="icecream">Icecream<br>
    <h4>Play?</h4>
        <input type="checkbox" name="categories" value="playground">Playground<br>
        <input type="checkbox" name="categories" value="indoor_playcenter">Indoor Playcenter<br>
        <input type="checkbox" name="categories" value="carousels">Carousels<br>
        <input type="checkbox" name="categories" value="farms">Farms<br>
        <input type="checkbox" name="categories" value="zoos">Zoo<br>
        <input type="checkbox" name="categories" value="aquariums">Aquariums<br><br>
    <input type="submit">
</form>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='/static/js/map.js'></script>
<script 
  src="https://maps.googleapis.com/maps/api/js?key={{YOUR_API_KEY}}&callback=myCallBack" async defer>
</script>
{% endblock %}