{% extends 'base.html' %}

{% block title %}My Page{% endblock %}

{% block body %}
    {% if session.get('user_id') == user.user_id %}
        <h1>{{user.username}}</h1>
        <a href="/">Click here to return to homepage</a>
        <h3>Here are your last three searches</h3>
        {% if routes == [] %}
            You do not have any saved routes.
        {% else %}
            <ul>
                {% for route in routes %}
                    <li><a href="/show-map?start_location={{route.start}}&end_location={{route.end}}">
                            From {{ route.start }} to {{ route.end }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <h2>You are not logged in! Please log in <a href="/">here</a> to see your page.</h2>
    {% endif %}

{% endblock %}